rids/node_modules/
rids/rids.code-workspace
rids/.vscode/
ppds/node_modules/
ppds/.vscode/
isrs/node_modules/
mppm/node_modules/
mppm/dist/
mppm/.vscode/
mrfm/node_modules/
mrfm/.vscode/
mrim/node_modules/
mrim/dist/
mrim/.vscode/
rsrm/node_modules/
rsrm/.vscode/
rsrm/dist/
.vscode/
