rids/node_modules/
rids/rids.code-workspace
rids/.vscode/
rlds/node_modules/
rlds/rids.code-workspace
rlds/.vscode/
ppds/node_modules/
ppds/.vscode/
ipts/node_modules/
isrs/node_modules/
isms/node_modules/
ists/node_modules/
isbs/node_modules/
ipls/node_modules/
mppm/.vscode/
mppm/dist/
mppm/node_modules/
mrfm/.vscode/
mrfm/node_modules/
mrim/.vscode/
mrim/dist/
mrim/node_modules/
mrim/public/static/
mrlm/.vscode/
mrlm/node_modules/
mrlm/dist/
mrlm/.vscode/
mrlm/.*
rsrm/node_modules/
rsrm/.vscode/
rsrm/dist/
mrfm/src/uploads/
.vscode/
